body {
    text-align: center;
    font-family: sans-serif;
    background-color: powderblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#addModule {
    background: green;
    color: white;
    margin-left: 20px;
}

label, select, input, button {
    font-size: 1.5rem;
}

#container {
    border-style: solid;
    border-radius: 25px;
    width: fit-content;
    padding: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
    margin: 25px;
}

@media only screen and (max-width: 600px) {
    #container {
        padding: 10px;
    }
}

#container > div {
    margin-right: 15px;
}

p {
    border-style: solid;
    border-radius: 25px;
    width: fit-content;
    padding: 25px;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 5px;
}

#modulesContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: 25px;
}

.blue {
    color: tomato;
    font-weight: bold;
}

span {
    padding: 10px;
}

#description {
    font-size: 1rem;
    border: none;
    padding: 5px;
}